*.rbc
*.sassc
/.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
/config/application.rb
/config/application.yml
/config/initializers/faye_token.rb
/config/environments/development.rb
/config/environments/production.rb
/config/initializers/devise.rb
/config/initializers/exception_notifier.rb
/config/initializers/secret_token.rb

/public/assets/system/*

/public/uploads/**/*
/public/google*.html


*.*~
