require File.expand_path('../boot', __FILE__)

require 'rails/all'

require "net/http"

#require 'rack/throttle'
##require 'gdbm
#require 'memcached'

# If you have a Gemfile, require the gems listed there, including any gems
# you've limited to :test, :development, or :production.
# Bundler.require(:default, Rails.env) if defined?(Bundler)

if defined?(Bundler)
  Bundler.require *Rails.groups(:assets => %w(development test))
end

module Notiz
  class Application < Rails::Application
    #    config.middleware.use Rack::Throttle::Interval, :min => 3.0, :cache => Memcached.new, :key_prefix => :throttle
    #    #, :cache => GDBM.new('tmp/throttle.db') # 至少 3 秒,
    #    config.middleware.use Rack::Throttle::Hourly,   :max => 100 # 每小時最多 100 次
    #    config.middleware.use Rack::Throttle::Daily,    :max => 1000  # requests

    # Settings in config/environments/* take precedence over those specified here.
    # Application configuration should go into files in config/initializers
    # -- all .rb files in that directory are automatically loaded.

    # Custom directories with classes and modules you want to be autoloadable.
    # config.autoload_paths += %W(#{config.root}/extras)

    # Only load the plugins named here, in the order given (default is alphabetical).
    # :all can be used as a placeholder for all plugins not explicitly named.
    # config.plugins = [ :exception_notification, :ssl_requirement, :all ]

    # Activate observers that should always be running.
    # config.active_record.observers = :cacher, :garbage_collector, :forum_observer
    config.active_record.observers = [:comment_observer, :note_observer,
        :sharing_observer, :post_observer, :picture_observer, :tree_observer,
        :clip_observer, :user_observer, :attach_observer, :interaction_observer]

    # Set Time.zone default to the specified zone and make Active Record auto-convert to this zone.
    # Run "rake -D time" for a list of tasks for finding time zone names. Default is UTC.
    config.time_zone = 'Taipei'

    # The default locale is :en and all translations from config/locales/*.rb,yml are auto loaded.
    # config.i18n.load_path += Dir[Rails.root.join('my', 'locales', '*.{rb,yml}').to_s]
    config.i18n.default_locale = "zh-tw"


    config.generators.stylesheet_engine = :sass


    # JavaScript files you want as :defaults (application.js is always included).
    # config.action_view.javascript_expansions[:defaults] = %w(jquery rails)

    # Configure the default encoding used in templates for Ruby 1.9.
    config.encoding = "utf-8"

    # Configure sensitive parameters which will be filtered from the log file.
    config.filter_parameters += [:password, :password_confirmation]

    # Enable the asset pipeline
    config.assets.enabled = true
  end

    ActionMailer::Base.delivery_method = :sendmail
    ActionMailer::Base.smtp_settings = {
      :address  => "localhost",
      :port  => 25,
      :domain => "[YOUR DOMAIN]",
      :user_name  => "[YOUR SENDMAIL ACCOUNT]",
      :password  => "[YOUR SENDMAIL PASSWORD]",
      :authentication  => :login
    }
    ActionMailer::Base.default :content_type => 'text/html'
end
