%h1 親愛的#{@user_title}您好
= yield
%p
  = "--"
  來自 #{link_to "Notiz", APP[:url]} 的郵件通知
%hr
%h3 說明
%ul
  %li 未曾使用過本網站時，可選擇以 Facebook 或 Google 的帳號登入，或直接在本網站註冊。
  %li 若要取得被分享的桌面，則登入的郵件地址需與您收到分享通知的郵件地址相同，因為對方是以該郵件地址作分享的對象。
